<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <fa-icon [styles]="{'color': 'white'}" icon="graduation-cap" size="2x"></fa-icon>
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse menu -->
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <ng-container *ngIf="(userService.currentUser$ | async) !== null">
          <li class="nav-item">
            <a class="nav-link" routerLink="lectures/list" routerLinkActive="active">Lectures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="speakers" routerLinkActive="active">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacts" routerLinkActive="active">Contacts</a>
          </li>
        </ng-container>
      </ul>

      <div *ngIf="(userService.currentUser$ | async) === null" class="navbar-nav me-3 d-xs-none d-none d-md-block">
        <a class="btn btn-light me-2" routerLink="user/login">Sign In</a>
        <a class="btn btn-primary" routerLink="user/registration">Sign Up</a>
      </div>

      <!-- Dropdown profile menu -->
      <ul *ngIf="(userService.currentUser$ | async) !== null" class="navbar-nav">
        <li *ngIf="(userService.currentUser$ | async) as user" class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle"
            style="cursor: pointer"
            id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{user.firstName | titlecase}}
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="user/profile">
              Profile
            </a>
            <div role="separator" class="divider"></div>
            <a (click)="logout()" class="dropdown-item" style="cursor: pointer;">
              Logout
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
