<app-title
title="Lectures" iconProp="calendar-days" listButton="true"
subtitle="Calendar of lectures that are scheduled to take place"></app-title>

<div class="card">
  <div class="d-flex card-header">
    <div class="flex-fill">
      <div class="input-group mb-2 pe-3">
        <div class="input-group-prepend">
          <div class="input-group-text">Search: </div>
        </div>

        <input
        type="text"
        class="form-control"
        [(ngModel)]="listFilter"
        placeholder="Find by name or theme">
      </div>
    </div>
    <div>
      <a href="#" class="d-flex btn btn-outline-success">
        <fa-icon [icon]="'plus-circle'"></fa-icon>
        <span class="ms-1 d-none d-sm-block">New</span>
      </a>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th style="min-width: 8em;">
            <button type="button" class="btn btn-outline-light btn-sm" (click)="controlImageVisibility()">
              <fa-icon [icon]="hideImage ? 'eye' : 'eye-slash'"></fa-icon>
              {{hideImage ? 'Show' : 'Hide'}}</button>
            </th>
            <th>#</th>
            <th>Theme</th>
            <th>Location</th>
            <th>Data</th>
            <th>Peoples</th>
            <th>Adress</th>
            <th style="min-width: 8em;">Options</th>
          </tr>
        </thead>
        <tbody *ngIf="lectures.length">
          <tr *ngFor="let lecture of filteredLectures">
            <td>
              <img [collapse]="hideImage" [isAnimated]="true"
              src="assets/{{lecture.imageUrl}}" [style.width.px]="imageWidth" [style.margin.px]="imageMargin"/>
            </td>
            <td>{{lecture.id}}</td>
            <td>{{lecture.theme}}</td>
            <td>{{lecture.local}}</td>
            <td>{{lecture.date | DateTimeFormat}}</td>
            <td>{{lecture.maxPeopleSupported}}</td>
            <td>{{lecture.adress}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-primary" tooltip="Edit">
                <fa-icon icon="edit"></fa-icon>
              </button>
              <button type="button" class="btn btn-sm btn-danger ms-2" tooltip="Delete" (click)="openDeleteModal(content)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!lectures.length">
          <tr>
            <td colspan="8" class="text-center">
              <h4>No lecture found</h4>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-body text-center">
      <p>Do you want to delete lecture? This operation is irreversible.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="cancelDelete()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="confirmDelete()">Confirm</button>
    </div>
  </ng-template>
