<app-title title="Profile" iconProp="user"></app-title>

<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@UserName</div>
            <div class="h7 text-bold pb-1"><b>Name:</b> Miracles Lee Cross</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Ministered Lectures</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Participated Lectures</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Profile Details</h3>
          </div>
          <div class="form-group col-sm-6">
            <label>First name</label>
            <input
            formControlName="firstName"
            [ngClass]="cssInvalidClass(fcontrols.firstName)"
            type="text" class="form-control"/>
            <div class="invalid-feedback">
              First name is required
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label>Last name</label>
            <input
            formControlName="lastName"
            [ngClass]="cssInvalidClass(fcontrols.lastName)"
            type="text" class="form-control"/>
            <div class="invalid-feedback">
              Last name is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label>Title</label>
            <select
            formControlName="title"
            [ngClass]="cssInvalidClass(fcontrols.title)"
            class="form-select">
              <option value=""></option>
              <option value="0">None</option>
              <option value="Senhorita">Technologist</option>
              <option value="Senhorita">Bachelor</option>
              <option value="Senhorita">Specialist</option>
              <option value="Senhorita">Post Graduate</option>
              <option value="Senhorita">Master</option>
              <option value="Senhorita">Doctorate</option>
              <option value="Senhorita">Post Doctoral</option>
            </select>
            <div class="invalid-feedback">
              Title is required
            </div>
          </div>

          <div class="form-group col-sm-4">
            <label>Function</label>
            <select
            formControlName="function"
            [ngClass]="cssInvalidClass(fcontrols.function)"
            class="form-select">
              <option value=""></option>
              <option value="Participante">Participant</option>
              <option value="Palestrante">Speaker</option>
            </select>
            <div class="invalid-feedback">
              Function is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-5">
            <label>Email</label>
            <input
            formControlName="email"
            [ngClass]="cssInvalidClass(fcontrols.email)"
            type="text" class="form-control" />
            <div *ngIf="fcontrols.email.errors?.required && fcontrols.email.touched" class="invalid-feedback">
              Email is required
            </div>
            <div *ngIf="fcontrols.email.errors?.email && fcontrols.email.touched" class="invalid-feedback">
              Email must be valid email
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label>Phone</label>
            <input
            formControlName="phone"
            [ngClass]="cssInvalidClass(fcontrols.phone)"
            type="text" class="form-control" />
            <div class="invalid-feedback">
              Phone is required
            </div>
          </div>
          <div class="form-group col-12">
            <label>Description</label>
            <input
            formControlName="description"
            [ngClass]="cssInvalidClass(fcontrols.description)"
            type="text" class="form-control" />
            <div class="invalid-feedback">
              Description is required
            </div>
          </div>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Change password</h3>
          <p>If you change your password, fill in the fields below:</p>
        </div>
        <div class="row">
          <div class="form-group col-sm">
            <label>Password</label>
            <input
            formControlName="password"
            [ngClass]="cssInvalidClass(fcontrols.password)"
            type="password" class="form-control" />
            <div *ngIf="fcontrols.password.errors?.required && fcontrols.password.touched" class="invalid-feedback">
              Password is required
            </div>
            <div *ngIf="fcontrols.password.errors?.minlength && fcontrols.password.touched" class="invalid-feedback">
              Password must be longer than 6 characters
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Confirm password</label>
            <input
            formControlName="confirmPassword"
            [ngClass]="cssInvalidClass(fcontrols.confirmPassword)"
            type="password" class="form-control" />
            <div *ngIf="fcontrols.confirmPassword.errors?.required && fcontrols.confirmPassword.touched" class="invalid-feedback">
              Confirm password is required
            </div>
            <div *ngIf="fcontrols.confirmPassword.errors?.mustMatch && fcontrols.confirmPassword.touched" class="invalid-feedback">
              Confirm password must match password
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button
        (click)="resetForm($event)"
        class="btn btn-outline-secondary me-auto border">
          Discard Changes
        </button>
        <button class="btn btn-success">
          Save Changes
        </button>
      </div>
    </div>
  </form>
</div>
