<div class="d-flex align-items-center vh-100">

  <div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">

    <form #loginForm="ngForm" class="form-signin" (ngSubmit)="login()">
      <fa-icon icon="graduation-cap" size="2x"></fa-icon>
      <h1 class="h3 mb-3 font-weight-normal">Lecture Schedule</h1>
      <label for="username" class="sr-only">User</label>
      <input
      [(ngModel)]="model.username"
      type="email"
      id="username"
      class="form-control"
      placeholder="User"
      name="username"
      required>
      <label for="password" class="sr-only">Password</label>
      <input
      [(ngModel)]="model.password"
      type="password"
      id="password"
      class="form-control"
      placeholder="Password"
      name="password"
      required>
      <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary ps-5 pe-5 mt-4" type="submit">Login</button>
      <p class="mt-4 mb-2 text-muted">Don't have an account? Click register</p>
      <a class="btn btn-lg btn-link btn-block" routerLink="/user/registration">Register me</a>
    </form>

  </div>

</div>
