<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>User registration</h1>
      <img src="../../../../assets/register-image.png" class="my-4" alt="" width="400px">
    </div>
  </div>

  <div class="col-md-6">

    <form [formGroup]="form" class="p-1 container">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">User registration</h3>
      </div>
      <div class="row mb-3">
        <div class="form-group col-sm-6">
          <label>First name</label>
          <input type="text" class="form-control"
          formControlName="firstName"
          [ngClass]="cssInvalidClass(fcontrols.firstName)"
          placeholder="First name here" />
          <div class="invalid-feedback">
            First name is required
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Last name</label>
          <input type="text" class="form-control"
          formControlName="lastName"
          [ngClass]="cssInvalidClass(fcontrols.lastName)"
          placeholder="Last name here" />
          <div class="invalid-feedback">
            Last name is required
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="">Email:</label>
        <input class="form-control" type="text"
        formControlName="email"
        [ngClass]="cssInvalidClass(fcontrols.email)"
        placeholder="Email" />
        <div *ngIf="fcontrols.email.errors?.required && fcontrols.email.touched" class="invalid-feedback">
          Email is required
        </div>
        <div *ngIf="fcontrols.email.errors?.email && fcontrols.email.touched" class="invalid-feedback">
          Email must be valid email
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="">User:</label>
        <input class="form-control" type="text"
        formControlName="userName"
        [ngClass]="cssInvalidClass(fcontrols.userName)"
        placeholder="User name" />
        <div class="invalid-feedback">
          User is required
        </div>
      </div>
      <div class="row mb-3">
        <div class="form-group col-sm-6">
          <label for="">Password:</label>
          <input class="form-control" type="password"
          formControlName="password"
          [ngClass]="cssInvalidClass(fcontrols.password)"
          placeholder="Insert password" />
          <div *ngIf="fcontrols.password.errors?.required && fcontrols.password.touched" class="invalid-feedback">
            Password is required
          </div>
          <div *ngIf="fcontrols.password.errors?.minlength && fcontrols.password.touched"  class="invalid-feedback">
            Password must be longer than 6 characters
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirm password:</label>
          <input class="form-control" type="password"
          formControlName="confirmPassword"
          [ngClass]="cssInvalidClass(fcontrols.confirmPassword)"
          placeholder="Repeat password" />
          <div *ngIf="fcontrols.confirmPassword.errors?.required && fcontrols.confirmPassword.touched" class="invalid-feedback">
            Confirm password is required
          </div>
          <div *ngIf="fcontrols.confirmPassword.errors?.mustMatch && fcontrols.confirmPassword.touched" class="invalid-feedback">
            Confirm password must match password
          </div>
        </div>
      </div>
      <div class="row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input me-2" (click)="controlAgreement()">
          <label class="custom-control-label">I agree with the <a href="#">terms of use</a>.</label>
        </div>
      </div>
      <div class="row mb-3">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5" [ngClass]="{'disabled' : dontAgree || !form?.valid}">
            Register
          </button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            I'm already registered
          </a>
        </div>
      </div>
    </form>

  </div>
</div>
